<div class="landing-pages-home-page">
  <h1>Welcome to HelloGold</h1>

  <div class="card">
    <div class="card-body">
      <p>
        Admin Login Details:
      </p>
      <p>
        E: <b>admin@email.com</b>
      </p>
      <p>
        P: <b>111111</b>
      </p>

      <p>
        APIs:
      </p>
      <table>
        <tr>
          <td>
            API name
          </td>
          <td>
            URL
          </td>
        </tr>
        <tr>
          <td>
            Country List:
          </td>
          <td>
            <code>GET localhost:3000/api/countries</code>
          </td>
        </tr>
        <tr>
          <td>
            User registration:
          </td>
          <td>
            <code>POST localhost:3000/api/users</code>
          </td>
        </tr>
        <tr>
          <td>
            User OAuth Token:
          </td>
          <td>
            <code>POST localhost:3000/oauth/token</code>
          </td>
        </tr>
        <tr>
          <td>
            User Balance:
          </td>
          <td>
            <code>GET localhost:3000/api/balances</code>
          </td>
        </tr>
        <tr>
          <td>
            User Transaction List:
          </td>
          <td>
            <code>GET localhost:3000/api/transactions</code>
          </td>
        </tr>
        <tr>
          <td>
            Top Up:
          </td>
          <td>
            <code>POST localhost:3000/api/transactions/top_up</code>
          </td>
        </tr>
        <tr>
          <td>
            Withdraw:
          </td>
          <td>
            <code>GET localhost:3000/api/transactions/withdraw</code>
          </td>
        </tr>
        <tr>
          <td>
            Buy:
          </td>
          <td>
            <code>GET localhost:3000/api/transactions/buy</code>
          </td>
        </tr>
        <tr>
          <td>
            Sell:
          </td>
          <td>
            <code>GET localhost:3000/api/transactions/sell</code>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
