<h1>Welcome to HelloGold</h1>

<div class="card">
  <div class="card-body">
    <p>
      Admin Login Details:
    </p>
    <p>
      E: <b>admin@email.com</b>
    </p>
    <p>
      P: <b>111111</b>
    </p>
  </div>
</div>
