.admin-countries-show-page,
.admin-countries-index-page,
.admin-countries-edit-page,
.admin-countries-new-page {
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .button-action {
    margin-bottom: 20px;
    text-align: center;
  }
  .body-content {
    margin-bottom: 20px;
  }
}
